src/main/mule/jira-issue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="jira-issue_jira-issue" doc:id="82084986-7f5b-4d11-8050-48ff323bf873" >
		<logger level="TRACE" doc:name="Before Request" doc:id="b5a448a2-154e-49f9-baa5-636031e35391" message="${application-msgs.before-connector-call-message}"/>
		<until-successful maxRetries="${retry.http.numRetries}" doc:name="retry jira-sys-api" doc:id="b8f33fd1-726d-446e-94e6-b3944961ee94" millisBetweenRetries="${retry.http.delayMillisecs}">
		<http:request method="GET" doc:name="Invoke Jira Sys API" doc:id="ebe176c4-7e10-41b8-9a3e-e12d2fa1c0e9" config-ref="jira-sys-api-httpRequestConfig" path="#[p('jira-sys-api.path') ++ '/'++ payload.issueId]" sendCorrelationId="ALWAYS" correlationId="#[vars.correlation]"/>
		</until-successful>
		<logger level="TRACE" doc:name="After Request" doc:id="bbc939f5-1f66-46d2-9ffb-21c99b6e9830" message="${application-msgs.after-connector-call-message}" />
		<ee:transform doc:name="JIRA-SFDC map" doc:id="b690db41-8872-457d-91e1-2f92a472523f">
			<ee:message>
				<ee:set-payload resource="transforms/dwl/issue-case-update-json.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>
